{% extends "base.html" %}

{% block head %}
Next 5 days in {{ city_name}}
{% endblock head %}
{% block basecontent %}


    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% if message %}
                    <div class="notification {{ message_class }}">{{ message }}</div>
                    {% else %}
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="subtitle">{{ city_weather.temperature}}° C</span>
                                        <br> {{ city_weather.description}}
                                        <br> {{ city_weather.date}}
                                        
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>
                    {% endfor %}
                    {% endif %}                
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>

{% endblock basecontent %}


