{% extends "base.html" %}

{% block head %}
What's the weather like for {{user.username.capitalize}}?
{% endblock head %}
{% block basecontent %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type='submit' class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% if message %}
                        <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endif %}
                    </form>
                    <div>
                      <hr>
                      {% if subscription %}
                        <a href="{% url 'weather:subscription' False %}"> -->Remove from subscription list</a>
                      {% else %}
                        <a href="{% url 'weather:subscription' True %}"> -->Add to subscription list</a>
                      {% endif %}
                      <hr>
                      <a href="{% url 'weather:subscribetest' %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">
                        {% if request.user.is_superuser %}
                          Test Button: Send mails to subscription list
                        {% else %}
                          Test Button: Send mail to me
                        {% endif %}
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a href="{% url 'weather:extend_city' city_weather.city %}">{{ city_weather.city}}</a>
                                        <!--<span class="title">{{ city_weather.city}}</span> -->
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature}}° C</span>
                                        <br> {{ city_weather.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{% url 'weather:delete_city' city_weather.city %}">
                                    <button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
{% endblock basecontent %}
