<!DOCTYPE html>
<html lang="en">
{% include "includes/navbar.html" %}

{% if messages %}
            {% for message in messages %}
            {% if message.tags == "info" %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endif %}
            {% endfor %}
{% endif %}

    {% block content %}
    {% endblock content %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>





</html>
